<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/admin-styles.css" />
    <title>NSS Admin Portal</title>
  </head>
  <body>
    <form action="/admin" method="POST">
      <div>
        <label for="">Event Name: </label> <input type="text" name="event" />
      </div>

      <div><label for="">Date: </label> <input type="date" name="date" /></div>
      <div>
        <label for="category">Category:</label>
        <select name="dropdown">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>
      </div>
      <div>
        <label for="">Choose file: </label>
        <input type="file" name="file" />
      </div>
      <div><input type="submit" /></div>
    </form>
  </body>
</html>
