<!Doctype htm1>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
          rel="shortcut icon"
          href="images/nss.png"
          type="image/x-icon"
        />
        <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@100&family=Sacramento&display=swap"
        rel="stylesheet"
        />
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css"
        />
        <link rel="stylesheet" href="css/login-styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Home</title>
    </head>
    <body>
        <div class="flex-container">
            <img class="logo-in-img" src="/images/iiitr.png" height="70" alt="" />

            <div class="logo-in">
              <h2 class="clgname pagetitle">IIIT Raichur</h2>
              <h2 class="pagetitle">NSS Portal</h2>
            </div>

            <img class="logo-in-img" src="/images/nss.png" height="70" alt="" />

        </div>
        <div class="topnav" id="myTopnav">
          <a class="active" href="#home">Home</a>
          <a href="#event">Events</a>
          <a href="#studentpage">Students</a>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
   </div>
        <div class="bg-image">
            <div class="container">
              <div
                class="card text-center card-transparent"

              >
                <div class="card-body" style="color: white;">
                  <i class="material-icons" style="font-size: 5rem; color: red;">
                    watch_later
                  </i>

                  <h2 class="card-title">Login to Hours portal</h2>

                  <h3 class="card-text">
                    Sign in with your college mail Id to view your contributions in
                    NSS.
                  </h3>
                  <br />
                  <a href="/auth/google">
                    <button class="btn" style="background-color: red; color: white;">
                    Login with Google
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <div>Copyright © 2021 NSS IIIT Raichur. All Rights Reserved.</div>
          </div>
    </body>
    <script>
    
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }

    </script>
</html>
