
<%- include('header') -%>
        <div class="bg-image">
            <div class="container">
              <div
                class="card text-center card-transparent"

              >
                <div class="card-body" style="color: white;">
                  <i class="material-icons" style="font-size: 5rem; color: red;">
                    watch_later
                  </i>

                  <h2 class="card-title">Login to Hours portal</h2>

                  <h3 class="card-text">
                    Sign in with your college mail Id to view your contributions in
                    NSS.
                  </h3>
                  <br />
                  <a href="/auth/google">
                    <button class="btn" style="background-color: red; color: white;">
                    Login with Google
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          
<%- include('footer') -%>