<%- include('header') -%>
    <form class="event_form" action="/admin/add_event" method = "POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label">Event Name: </label> 
            <input type="text" name="event" class="form-control" required>
        </div>

        <div class="form-group">
            <label class="form-label">Date: </label> 
            <input type="date" name="date" class="form-control" required/>
        </div>

        <div>
            <label for="inputGroupSelect01" class="form-label">Category:</label>
        </div>
        
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect01" name="dropdown">
            <% for(var i=0; i<category.length; i++) { %>
                <option value="<%= category[i].number %>"><%= category[i].number %></option>
            <% } %>
            </select>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Add records file (.csv with rows: email, hours)</label>
            <input class="form-control" type="file" id="formFile" accept = ".csv" name="fileName" required>
        </div>

        <div><input class="btn btn-dark" type="submit"></div>
    </form>

    <script>
        var element = document.getElementById("add_event");
        element.classList.add("active");
  </script>
<%- include('footer') -%>