<%- include('header') -%>
  <form id="form" class="event_form" method="POST">
    <div class="form-group">
        <label class="form-label">Roll No: </label> 
        <input type="text" name="rollno" class="form-control" required autofocus>
    </div>
    <input class="btn btn-dark" type="submit" value="Search">
  </form>

  <div id=user_details>

  </div>

  <script>
      var element = document.getElementById("update_hrs");
        element.classList.add("active");
  </script>

<%- include('footer') -%>